################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GrpcNodeStreamingSample/v16
/bin
/node_modules
/obj/Debug
